<!DOCTYPE html>
<html lang="fi" ng-app="app">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="ClearType" content="true">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Velkuri</title>
  <meta name="description" content="Pidä kirjaa veloistasi">

  
  <link rel="stylesheet" href="css/uikit.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
</head>

<body>


  <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <nav class="uk-navbar uk-margin-large-bottom">
      <a href="#" class="uk-navbar-brand">Velkuri</a>
      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <a href="#">Lisää</a>
        </li>
        <li><a href="#" data-bind="click: navigoi">Velat</a></li>
        <li><a href="#">Lainat</a></li>
      </ul>
    </nav>

    <form class="uk-panel uk-panel-box uk-form" data-bind="visible: lomake.isVisible">
      <div class="uk-form-row">
        <input type="text" class="uk-width-1-1 uk-form-large" placeholder="Lainaaja">
      </div>
      <div class="uk-form-row">
        <input type="text" class="uk-width-1-1 uk-form-large" placeholder="Velallinen">
      </div>
      <div class="uk-form-row">
        <input type="text" class="uk-width-1-1 uk-form-large" placeholder="Summa">
      </div>
      <div class="uk-form-row">
        <input type="text" class="uk-width-1-1 uk-form-large" placeholder="Kuvaus">
      </div>
      <div class="uk-form-row">
        <a href="#" class="uk-width-1-1 uk-button uk-button-primary uk-button-large">Tallenna</a>
      </div>
    </form>

    <div class="uk-grid" data-uk-grid-margin>
      <div class="uk-width-1-1">
        <table class="uk-table uk text-nowrap" data-bind="visible: velatTaulukko">
          <thead>
            <tr>
              <th>Otsikko</th>
              <th>Otsikko</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    
  </div>
  
  <!-- Lisää lomake -->
  <input type="text" class="autocomplete" placeholder="lainaaja" data-bind="value: lomake.lainaaja, autoComplete: lomake.lainaaja"} />
  <input type="text" placeholder="velallinen" data-bind="value: lomake.velallinen" />
  <input type="text" placeholder="summa" data-bind="value: lomake.summa">
  <input type="text" placeholder="kuvaus" data-bind="value: lomake.kuvaus">
  <button data-bind="click: tallenna">Tallenna</button>
  
  <!-- Velat taulukko -->
  <table>
    <thead>
      <tr>
        <th>Lainaaja</th>
        <th>Summa</th>
      </tr>
    </thead>
    <tbody data-bind="foreach: velat">
      <tr data-bind="click: $root.naytaVelanTiedot">
        <td data-bind="text: _id"></td>
        <td data-bind="text: yhteensa"></td>
      </tr>
    </tbody>
  </table>

  <ul data-bind="foreach: velanTiedot">
    <li>
      <p data-bind="text: summa"></p>
      <span data-bind="text: kuvaus"></span>
      <a href="#" data-bind="click: $root.poista">Poista</a>
      <a href="#" data-bind="click: $root.muokkaa">Muokkaa</a>
    </li>
  </ul>

  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/uikit.min.js"></script>
  <script src="js/knockout.js"></script>
  <script src="js/helpers.js"></script>
  <script src="js/app.js"></script>


</body>
</html>